<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soho3q.cms.dal.dao.NewCmsKeyMapper">
  <resultMap id="BaseResultMap" type="com.soho3q.cms.dal.dataobj.CmsKey">
    <id column="key_id" jdbcType="BIGINT" property="keyId" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="cms_key" jdbcType="VARCHAR" property="cmsKey" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="key_type" jdbcType="VARCHAR" property="keyType" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
 
 	 <select id="selectPageKeyList" parameterType="java.util.Map" resultMap="BaseResultMap">
 	 	select * from cms_key where 1=1
	 	 	<if test="channelName != null and channelName !='' ">
			    AND channel_name = #{channelName}
			</if>
			<if test="keyType != null and keyType !='' ">
			    AND key_type = #{keyType}
			</if>
			<if test="cmsKey != null and cmsKey !='' ">
			    AND cms_key like concat('%',#{cmsKey},'%')
			</if>
			<if test="name != null and name !='' ">
			    AND name like concat('%',#{name},'%')
			</if>
			<if test="enabled != null">
			    AND enabled = #{enabled}
			</if>
			<if test="tagId != null">
			    AND tag_id = #{tagId}
			</if>
			order by create_time desc 
			limit #{startNum},#{endNum}
 	 </select>
 	 
 	 <select id="selectPageKeyListOfCount" parameterType="java.util.Map" resultType="java.lang.Integer">
 	 	select count(*) from (
	 	 	select * from cms_key where 1=1
	 	 	<if test="channelName != null and channelName !='' ">
			    AND channel_name = #{channelName}
			</if>
			<if test="keyType != null and keyType !='' ">
			    AND key_type = #{keyType}
			</if>
			<if test="cmsKey != null and cmsKey !='' ">
			    AND cms_key like concat('%',#{cmsKey},'%')
			</if>
			<if test="name != null and name !='' ">
			    AND name like concat('%',#{name},'%')
			</if>
			<if test="enabled != null">
			    AND enabled = #{enabled}
			</if>
			<if test="tagId != null">
			    AND tag_id = #{tagId}
			</if>
			order by create_time desc 
		 )a
 	 </select>
 
</mapper>