<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/semantic.min.css" />
	</head>
	<body>
		<header>
			CMS系统
		</header>
		<div class="width80 mt50">
			<!--面包屑-->
			<!--<div class="ui huge breadcrumb" style="margin-bottom: 20px;">
			  <a class="section">CMS</a>
			  <i class="right chevron icon divider"></i>
			  <a class="section">注册</a>
			</div>
			-->
			<div class="ui middle aligned center aligned grid ">
				<div class="column" style="margin: 0 auto; text-align: center;">
					<form class="ui large form " style="width: 450px;margin: 0 auto;">
						<div class="ui stacked segment ">
							<div class="field">
								<div class="ui left icon input">
									<i class="user icon"></i>
									<input type="text" placeholder="用户名" name="email">
								</div>
							</div>
							<div class=" field">
								<div class="ui left icon input">
									<i class="phone icon"></i>
									<input type="text" placeholder="手机" name="email">
								</div>
							</div>
							<div class=" field">
								<div class="ui left icon input">
									<i class="mail icon"></i>
									<input type="text" placeholder="邮箱" name="email">
								</div>
							</div>
							<div class=" field">
								<div class="ui left icon input">
									<i class="lock icon"></i>
									<input type="password" placeholder="密码" name="password">
								</div>
							</div>
							<div class=" field">
								<div class="ui left icon input">
									<i class="lock icon"></i>
									<input type="password" placeholder="确认密码" name="password">
								</div>
							</div>
							<div class="ui fluid large teal submit button">注册</div>
						</div>
						<div class="ui error message"></div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
